@charset "UTF-8";

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, th, td, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  margin: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table, th, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */


/* Common */

html {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #000000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-size: 20px !important;
}

h3 {
  text-align: justify;
}

.clear {
  clear: both;
}


/* button back-to-top */

.btn-group-lg>.btn, .btn-lg {
  float: right;
}


/* google translate */

#google_translate_element {
  padding-top: 12px;
}

.translator {
  float: right;
}


/* Header */

.page-header {
  font-size: 26px !important;
  margin: 15px 0 15px !important;
  text-shadow: 3px 2px 7px rgba(30, 82, 165, 0.75);
  text-align: center;
}


/* nav */

.navbar-inverse {
  background-color: #292c2f;
  border-color: #292c2f;
}


/* Slideshow */

.carousel {
  margin-bottom: 55px !important;
}

.carousel-inner {
  width: 100%;
  height: 475px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}


/* Video */

.embed-responsive-16by9 {
  margin-bottom: 5% !important;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1%;
}

/* End video */


#destinationHeader {
  font-size: 24px !important;
  margin-left: 25px;
  font-weight: bold;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}

#allDestinations {
  font-size: 16px;
  margin-left: 25px;
  line-height: 1.6;
}

#btnChoose {
  margin-left: 25px;
  margin-top: 15px;
}


/* Google map */

#googleMap {
  margin: auto;
  text-align: justify;
  right: 1%;
  width: 720px;
  height: 500px;
}

/* End google map */


.title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16.5px;
  color: inherit;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.destination-container {
  max-width: 500px !important;
}

.buttons {
  text-align: center;
}


/* Footer */

#footerP {
  font-size: 17px;
  font-family: Roboto Slab;
  font-weight: 400;
}

.fa {
  margin-top: 7px;
}

#back-to-top {
  height: 46px;
}


/* End footer */